DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DATABASE_PATH=./data/bandrip.sqlite
TMP_INPUT_DIR=./tmp/input
TMP_OUTPUT_DIR=./tmp/output
OUTPUT_TTL_MINUTES=60

FFMPEG_PATH=/opt/homebrew/bin/ffmpeg
YT_DLP_PATH=/opt/homebrew/bin/yt-dlp

